.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Streak ###
kube/.secret.yaml

streak-client/.env
streak-client/src/main/resources/app.key
streak-client/src/main/resources/app.pub

streak-web/.env
streak-web/src/main/resources/app.key
streak-web/src/main/resources/app.pub

authentication-service/.env
authentication-service/src/main/resources/app.key
authentication-service/src/main/resources/app.pub
